In [12]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.33-cp37-cp37m-win_amd64.whl (9.6 MB)
     ---------------------------------------- 9.6/9.6 MB 10.0 MB/s eta 0:00:00
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\sharkoon\appdata\local\programs\python\python37\lib\site-packages (from mysql-connector-python) (3.20.3)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.33
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd
import numpy as np
import pymysql
import mysql.connector

In [2]:
df = pd.read_csv('df_carros_ml_cleaned.csv')
df

,Unnamed: 0,price,com_ipva_pago,aceita_troca,entrega_a_domicilio,unico_dono,com_preco_negociavel,higienizacao_completa,nao_aceita_troca,com_garantia_mecanica,test_drive_a_domicilio,marca,modelo,ano,cor,tipo_de_combustivel,motor,tipo_de_transmissao,quilometros,portas
0,0,156990.0,True,True,False,False,False,False,False,False,False,Hyundai,Tucson,2020,Branco,Gasolina,1.6,Automática,35000,4
1,1,85990.0,False,True,False,False,False,True,False,False,False,Chevrolet,Onix,2023,Cinza-escuro,Gasolina e álcool,1.0,Manual,65000,4
2,2,53990.0,False,True,False,False,False,False,False,False,False,Ford,Ka,2018,Branco,Gasolina e álcool,1.0,Manual,65000,4
3,4,85990.0,False,True,False,False,False,True,False,False,False,Jeep,Renegade,2018,Cinza-escuro,Gasolina e álcool,1.8,Automática,65000,4
4,5,103890.0,False,True,False,False,False,False,False,False,False,Jeep,Compass,2017,Prateado,Gasolina e álcool,2.0,Automática,65000,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1572,2009,66990.0,True,True,False,False,False,True,False,False,False,Nissan,Versa,2018,Preto,Gasolina e álcool,1.6,Automática,65000,4
1573,2011,48800.0,True,True,False,False,False,True,False,False,False,Toyota,Corolla,2011,Prateado,Gasolina-Álcool e gás natural,2.0,Automática,65000,4
1574,2012,54800.0,True,True,False,False,False,True,False,False,False,Volkswagen,Voyage,2019,Prateado,Gasolina e álcool,1.6,Manual,65000,4
1575,2013,79900.0,False,False,False,False,False,False,False,False,False,Honda,WR-V,2018,Cinza-escuro,Gasolina e álcool,1.5,Automática,65000,5
1576,2015,23990.0,True,False,False,False,False,False,True,False,False,Fiat,Stilo,2010,Prateado,Gasolina e álcool,1.8,Manual,65000,5

In [5]:
df.rename(columns={'Unnamed: 0': 'carros_id'}, inplace=True)

In [6]:
df

,carros_id,price,com_ipva_pago,aceita_troca,entrega_a_domicilio,unico_dono,com_preco_negociavel,higienizacao_completa,nao_aceita_troca,com_garantia_mecanica,test_drive_a_domicilio,marca,modelo,ano,cor,tipo_de_combustivel,motor,tipo_de_transmissao,quilometros,portas
0,0,156990.0,True,True,False,False,False,False,False,False,False,Hyundai,Tucson,2020,Branco,Gasolina,1.6,Automática,35000,4
1,1,85990.0,False,True,False,False,False,True,False,False,False,Chevrolet,Onix,2023,Cinza-escuro,Gasolina e álcool,1.0,Manual,65000,4
2,2,53990.0,False,True,False,False,False,False,False,False,False,Ford,Ka,2018,Branco,Gasolina e álcool,1.0,Manual,65000,4
3,4,85990.0,False,True,False,False,False,True,False,False,False,Jeep,Renegade,2018,Cinza-escuro,Gasolina e álcool,1.8,Automática,65000,4
4,5,103890.0,False,True,False,False,False,False,False,False,False,Jeep,Compass,2017,Prateado,Gasolina e álcool,2.0,Automática,65000,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1572,2009,66990.0,True,True,False,False,False,True,False,False,False,Nissan,Versa,2018,Preto,Gasolina e álcool,1.6,Automática,65000,4
1573,2011,48800.0,True,True,False,False,False,True,False,False,False,Toyota,Corolla,2011,Prateado,Gasolina-Álcool e gás natural,2.0,Automática,65000,4
1574,2012,54800.0,True,True,False,False,False,True,False,False,False,Volkswagen,Voyage,2019,Prateado,Gasolina e álcool,1.6,Manual,65000,4
1575,2013,79900.0,False,False,False,False,False,False,False,False,False,Honda,WR-V,2018,Cinza-escuro,Gasolina e álcool,1.5,Automática,65000,5
1576,2015,23990.0,True,False,False,False,False,False,True,False,False,Fiat,Stilo,2010,Prateado,Gasolina e álcool,1.8,Manual,65000,5

In [6]:
df['motor'] = df['motor'].astype('object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1577 entries, 0 to 1576
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   carros_id               1577 non-null   int64
 1   price                   1577 non-null   float64
 2   com_ipva_pago           1577 non-null   bool
 3   aceita_troca            1577 non-null   bool
 4   entrega_a_domicilio     1577 non-null   bool
 5   unico_dono              1577 non-null   bool
 6   com_preco_negociavel    1577 non-null   bool
 7   higienizacao_completa   1577 non-null   bool
 8   nao_aceita_troca        1577 non-null   bool
 9   com_garantia_mecanica   1577 non-null   bool
 10  test_drive_a_domicilio  1577 non-null   bool
 11  marca                   1577 non-null   object
 12  modelo                  1577 non-null   object
 13  ano                     1577 non-null   int64
 14  cor                     1577 non-null   object
 15  tipo_de_combustivel     1577 non-null   object
 16  motor                   1577 non-null   object
 17  tipo_de_transmissao     1577 non-null   object
 18  quilometros             1577 non-null   int64
 19  portas                  1577 non-null   int64
dtypes: bool(9), float64(1), int64(4), object(6)
memory usage: 149.5+ KB

In [15]:
cnx = mysql.connector.connect(user='root', password='', host='localhost', database='carros_bd_ml')
cursor = cnx.cursor()

In [18]:
for index, row in df.iterrows():
    insert_carros_query = "INSERT INTO carros (marca, modelo, ano, cor, tipo_de_combustivel, motor, tipo_de_transmissao, quilometros, portas, price) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
    carros_data = (row['marca'], row['modelo'], row['ano'], row['cor'], row['tipo_de_combustivel'], row['motor'], row['tipo_de_transmissao'], row['quilometros'], row['portas'], row['price'])
    cursor.execute(insert_carros_query, carros_data)
    carros_id = cursor.lastrowid
    
    insert_carros_info_query = "INSERT INTO carros_info (carros_id, com_ipva_pago, aceita_troca, entrega_a_domicilio, unico_dono, com_preco_negociavel, hgienizacao_completa, nao_aceita_troca, com_garantia_mecanica, test_drive_a_domicilio) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
    carros_info_data = (carros_id, row['com_ipva_pago'], row['aceita_troca'], row['entrega_a_domicilio'], row['unico_dono'], row['com_preco_negociavel'], row['higienizacao_completa'], row['nao_aceita_troca'], row['com_garantia_mecanica'], row['test_drive_a_domicilio'])
    cursor.execute(insert_carros_info_query, carros_info_data)

cnx.commit()

In [1]:
# Testando a consulta
conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='',
    database='carros_bd_ml'
)

cursor = conn.cursor()

NameError: name 'mysql' is not defined

In [31]:
query = "SELECT * FROM carros;"
# cursor.execute(query)
# result = cursor.fetchall()
df = pd.read_sql_query(query, conn)
df

,id,marca,modelo,ano,cor,tipo_de_combustivel,motor,tipo_de_transmissao,quilometros,portas,price
0,1,Hyundai,Tucson,2020,Branco,Gasolina,1.6,Automática,35000,4,156990.0
1,2,Hyundai,Tucson,2020,Branco,Gasolina,1.6,Automática,35000,4,156990.0
2,3,Chevrolet,Onix,2023,Cinza-escuro,Gasolina e álcool,1.0,Manual,65000,4,85990.0
3,4,Ford,Ka,2018,Branco,Gasolina e álcool,1.0,Manual,65000,4,53990.0
4,5,Jeep,Renegade,2018,Cinza-escuro,Gasolina e álcool,1.8,Automática,65000,4,85990.0
...,...,...,...,...,...,...,...,...,...,...,...
1573,1574,Nissan,Versa,2018,Preto,Gasolina e álcool,1.6,Automática,65000,4,66990.0
1574,1575,Toyota,Corolla,2011,Prateado,Gasolina-Álcool e gás natural,2.0,Automática,65000,4,48800.0
1575,1576,Volkswagen,Voyage,2019,Prateado,Gasolina e álcool,1.6,Manual,65000,4,54800.0
1576,1577,Honda,WR-V,2018,Cinza-escuro,Gasolina e álcool,1.5,Automática,65000,5,79900.0
1577,1578,Fiat,Stilo,2010,Prateado,Gasolina e álcool,1.8,Manual,65000,5,23990.0

In [26]:
df_sql = pd.DataFrame(result, columns=['id', 'marca', 'modelo', 'ano', 'cor', 'tipo_combustivel', 'motor', 'tipo_de_transmissao', 'quilometros', 'portas', 'price'])

In [27]:
df_sql

,id,marca,modelo,ano,cor,tipo_combustivel,motor,tipo_de_transmissao,quilometros,portas,price
0,1,Hyundai,Tucson,2020,Branco,Gasolina,1.6,Automática,35000,4,156990.0
1,2,Hyundai,Tucson,2020,Branco,Gasolina,1.6,Automática,35000,4,156990.0
2,3,Chevrolet,Onix,2023,Cinza-escuro,Gasolina e álcool,1.0,Manual,65000,4,85990.0
3,4,Ford,Ka,2018,Branco,Gasolina e álcool,1.0,Manual,65000,4,53990.0
4,5,Jeep,Renegade,2018,Cinza-escuro,Gasolina e álcool,1.8,Automática,65000,4,85990.0
...,...,...,...,...,...,...,...,...,...,...,...
1573,1574,Nissan,Versa,2018,Preto,Gasolina e álcool,1.6,Automática,65000,4,66990.0
1574,1575,Toyota,Corolla,2011,Prateado,Gasolina-Álcool e gás natural,2.0,Automática,65000,4,48800.0
1575,1576,Volkswagen,Voyage,2019,Prateado,Gasolina e álcool,1.6,Manual,65000,4,54800.0
1576,1577,Honda,WR-V,2018,Cinza-escuro,Gasolina e álcool,1.5,Automática,65000,5,79900.0
1577,1578,Fiat,Stilo,2010,Prateado,Gasolina e álcool,1.8,Manual,65000,5,23990.0

In [7]:
df

,carros_id,price,com_ipva_pago,aceita_troca,entrega_a_domicilio,unico_dono,com_preco_negociavel,higienizacao_completa,nao_aceita_troca,com_garantia_mecanica,test_drive_a_domicilio,marca,modelo,ano,cor,tipo_de_combustivel,motor,tipo_de_transmissao,quilometros,portas
0,0,156990.0,True,True,False,False,False,False,False,False,False,Hyundai,Tucson,2020,Branco,Gasolina,1.6,Automática,35000,4
1,1,85990.0,False,True,False,False,False,True,False,False,False,Chevrolet,Onix,2023,Cinza-escuro,Gasolina e álcool,1.0,Manual,65000,4
2,2,53990.0,False,True,False,False,False,False,False,False,False,Ford,Ka,2018,Branco,Gasolina e álcool,1.0,Manual,65000,4
3,4,85990.0,False,True,False,False,False,True,False,False,False,Jeep,Renegade,2018,Cinza-escuro,Gasolina e álcool,1.8,Automática,65000,4
4,5,103890.0,False,True,False,False,False,False,False,False,False,Jeep,Compass,2017,Prateado,Gasolina e álcool,2.0,Automática,65000,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1572,2009,66990.0,True,True,False,False,False,True,False,False,False,Nissan,Versa,2018,Preto,Gasolina e álcool,1.6,Automática,65000,4
1573,2011,48800.0,True,True,False,False,False,True,False,False,False,Toyota,Corolla,2011,Prateado,Gasolina-Álcool e gás natural,2.0,Automática,65000,4
1574,2012,54800.0,True,True,False,False,False,True,False,False,False,Volkswagen,Voyage,2019,Prateado,Gasolina e álcool,1.6,Manual,65000,4
1575,2013,79900.0,False,False,False,False,False,False,False,False,False,Honda,WR-V,2018,Cinza-escuro,Gasolina e álcool,1.5,Automática,65000,5
1576,2015,23990.0,True,False,False,False,False,False,True,False,False,Fiat,Stilo,2010,Prateado,Gasolina e álcool,1.8,Manual,65000,5

In [25]:
pd.set_option('display.precision', 2)
pd.options.display.float_format = '{:.2f}'.format
df_marca = df[['marca', 'price', 'modelo']].groupby(['marca', 'modelo']).mean().sort_values('price', ascending=True).reset_index()
df_marca

           marca          modelo      price
0        Peugeot             206   12000.00
1      Chevrolet       Chevy 500   14000.00
2      Chevrolet   Corsa Classic   17800.00
3        Peugeot             207   21493.33
4     Volkswagen         Santana   21900.00
..           ...             ...        ...
265      Porsche             911  799000.00
266   Land Rover       Discovery 1050000.00
267      Porsche  Outros Modelos 1300000.00
268  Lamborghini        Gallardo 1380000.00
269         Audi           Rs Q8 1390000.00

[270 rows x 3 columns]

In [32]:
df_ano = df[['marca', 'modelo','ano', 'price']].groupby(['marca','modelo','price']).max().sort_values('price', ascending=False).reset_index()
df_ano

            marca          modelo      price   ano
0            Audi           Rs Q8 1390000.00  2023
1     Lamborghini        Gallardo 1380000.00  2012
2         Porsche  Outros Modelos 1350000.00  2023
3         Porsche  Outros Modelos 1250000.00  2023
4      Land Rover       Discovery 1050000.00  2023
...           ...             ...        ...   ...
1457         Ford              Ka   15000.00  2003
1458    Chevrolet       Chevy 500   14000.00  1985
1459      Peugeot             206   12000.00  2005
1460         Ford              Ka   11900.00  2000
1461   Volkswagen             Gol    8900.00  1992

[1462 rows x 4 columns]

In [13]:
df['modelo'].unique()

array(['Tucson', 'Onix', 'Ka', 'Renegade', 'Compass', 'HB20', 'Corolla',
       'Strada', 'Master', 'Toro', 'Up!', 'Voyage', 'Uno', 'Mobi', 'Idea',
       'Celta', 'S-10', 'HB20S', 'Sandero', 'Spacefox', 'Palio Adventure',
       'Argo', 'Yaris', 'Golf', 'Fox', 'Gol', 'Cross Up', 'Polo',
       'Tiguan', 'New Beetle', 'Crossfox', 'Fusca', 'Santana', 'HR',
       'Fiesta', 'Polo Hatch', 'Jetta', 'Virtus', 'Nivus', 'Taos',
       'T-Cross', 'Express', 'Amarok', 'Sportage', 'RAV4', 'Sprinter Van',
       'Range Rover Evoque', 'Cayenne', 'AmarokMLB1744', 'Corolla Cross',
       'Creta', 'Saveiro', 'Gol MC4', 'Kombi', 'Polo Sedan',
       'Outros Modelos', 'Kombi FurgãO', 'Fiorino', 'Daily Chasis',
       'Civic', 'Captur', 'Toro Ranch', 'Q5', 'Ducato', 'Punto', 'SW4',
       'Daily', 'Sprinter Vidrado', 'IX35', 'Focus', 'Zafira', 'Palio',
       'MASTER FURGAO L1H1', 'Master FurgãO', 'Tracker', 'ASX', 'GLA 250',
       'Q3', 'Duster', 'XC60', 'Cronos', 'I30', 'Stilo', 'S10', 'C 180',
       'Duster Oroch', 'X2', '206', '308', 'Classe C',
       'Range Rover Velar', 'HR-V', 'Spin', 'Tiida', 'City', 'Kwid',
       'Cooper', 'Fusion', 'Soul', '2008', 'Fit', 'Ecosport', 'Versa',
       'C3', '207', 'J6', 'Pajero TR4', 'Q8', 'Freemont', 'Classe GLA',
       'Outlander', 'Picanto', 'Xsara Picasso', 'Cobalt', 'L200', '500',
       'Tiggo 5X', 'Logan', 'SX4', 'STONIC', 'Corsa', 'Sentra',
       'Veloster', 'Ranger', 'Montana', 'Jimny', 'Hilux', '911',
       'MOBI LIKE 1.0 FLEX 4P', 'PalioMLB1744', 'C 250', 'Chevy 500',
       'Hilux SW4', 'X1', 'Etios', 'Cruze', 'Equinox', 'Vitara', 'Rs Q8',
       'Tiggo 8', 'A4', 'Pajero Sport', 'Tracker Premier', 'Discovery',
       'CR-V LX', '118i', 'HB20X', 'Frontier', 'Pajero Full', 'Jumpy',
       'Elantra', '208', 'XC90', 'Kicks', 'Impreza', 'Santa Fe',
       'FASTBACK', 'Classic', 'Pulse', 'Novo HB20', '330E', 'Countryman',
       'Mustang', 'Meriva', 'Macan', 'Eclipse Cross', 'Corsa Hatch',
       'Classe B', 'C 200', 'X3', 'X60', 'Niro', 'Fiesta Sedan',
       'C4 Cactus', '430I', 'Sprinter Chassi', 'Tiggo 3X', 'GLA 200',
       'Siena', 'F-PACE', '320I', '408', 'Passat', 'Siena Essence', 'A3',
       'Agile', 'Serie 2', 'C4', 'X5', 'Livina XGEAR', 'X6', 'HR-V EX',
       'Corsa Classic', 'March', '1500', '307', 'DUSTER EXPRESSION',
       'Ecosport TIT', 'Onix Hatch', 'Tiggo 2', 'E 63 AMG',
       'Discovery sport', 'L200 TRITON', 'Sentra SV', 'Gallardo',
       'Ka Hatch', 'Clubman', '320i', 'VERSA 10', 'Carnival',
       'Grand Siena', 'WRANGLER SPT', 'XE', 'Z4', 'Livina', '308 CC',
       'Astra Sedan', 'Prisma', 'Ram 2500', 'Sorento', 'M5', 'A6',
       'Vectra', 'Joy', 'A5', 'Grand Vitara', 'GLK 220', 'A3 Sedan',
       'Commander', '3008', 'F-250', 'TIIDA', 'Tiggo', 'CR-V', 'Astra',
       'Logan Expression', 'Ducato Maxicargo', 'Golf Variant', 'Aircross',
       'Doblo', '328i', 'DS4', 'Onix plus', 'Tiguan Allspace', 'Sonic',
       'C3 Picasso', 'Wr-V', 'Bravo', 'Symbol', 'WR-V', 'Megane',
       'Doblo Cargo', 'Sandero Stepway', '220i', 'Space Cross', 'Fluence',
       'Megane Grand Tour', 'T40'], dtype=object)

In [12]:
df['modelo'] = df['modelo'].apply(lambda x: x.replace('GOL MC4 _4P_', 'Gol MC4').strip())
df['modelo'] = df['modelo'].apply(lambda x: x.replace('TORO RANCH 2.0 16V 4X4 DIESEL ATU.', 'Toro Ranch').strip())
df['modelo'] = df['modelo'].apply(lambda x: x.replace('TRACKER PREMIER 1.2 TURBO 12V FLEX AUT.', 'Tracker Premier').strip())
df['modelo'] = df['modelo'].apply(lambda x: x.replace('TRACKER PREMIER 1.2 TURBO 12V FLEX AUT', 'Tracker Premier').strip())
df['modelo'] = df['modelo'].apply(lambda x: x.replace('XE 2.0 TURBOCHARGED PURE 240CV AUT', 'XE').strip())
df['modelo'] = df['modelo'].apply(lambda x: x.replace('LOGAN EXPRESSION SCE _4P_', 'Logan Expression').strip())
df['modelo'] = df['modelo'].apply(lambda x: x.replace('PALIO 1.0 ECONOMY FIRE FLEX 8V 4P', 'Palio').strip())
df['modelo'] = df['modelo'].apply(lambda x: x.replace('TORO RANCH 2.0 16V 4X4 DIESEL AUT.', 'Toro Ranch').strip())
df['modelo'] = df['modelo'].apply(lambda x: x.replace('CR-V LX 2.0 AUT', 'CR-V LX').strip())
df['modelo'] = df['modelo'].apply(lambda x: x.replace('SIENA ESSENCE 1.6 16V FLEX MEC.', 'Siena Essence').strip())
df['modelo'] = df['modelo'].apply(lambda x: x.replace('COROLLA CROSS XRE 2.0', 'Corolla Cross').strip())
df['modelo'] = df['modelo'].apply(lambda x: x.replace('LIVINA XGEAR 1.8 AUT', 'Livina XGEAR').strip())
df['modelo'] = df['modelo'].apply(lambda x: x.replace('HR-V EX 1.8 FLEXONE 16V 5P AUT', 'HR-V EX').strip())
df['modelo'] = df['modelo'].apply(lambda x: x.replace('DUSTER 1.6 EXPRESSION', 'DUSTER EXPRESSION').strip())
df['modelo'] = df['modelo'].apply(lambda x: x.replace('ECOSPORT TIT AT 2.0', 'Ecosport TIT').strip())
df['modelo'] = df['modelo'].apply(lambda x: x.replace('FUSION 2.0 TITANIUM AWD 16V GASOLINA 4P AUTOMÁTICO', 'Fusion').strip())
df['modelo'] = df['modelo'].apply(lambda x: x.replace('SENTRA SV 2.0 FLEX 16V AUT.', 'Sentra SV').strip())
df['modelo'] = df['modelo'].apply(lambda x: x.replace('CRETA 1.6 16V FLEX ATTITUDE AUT', 'Creta').strip())
df['modelo'] = df['modelo'].apply(lambda x: x.replace('GRAND SIENA 1.0 EVO FLEX ATTRACTIVE MANUAL', 'Grand Siena').strip())
df['modelo'] = df['modelo'].apply(lambda x: x.replace('WRANGLER SPT 3.6L', 'WRANGLER SPT').strip())
df['modelo'] = df['modelo'].apply(lambda x: x.replace('ONIX 1.4MT LTZ', 'Onix').strip())
df['modelo'] = df['modelo'].apply(lambda x: x.replace('TIIDA 1.8 SL', 'TIIDA').strip())
df['modelo'] = df['modelo'].apply(lambda x: x.replace('VERSA 1.6 16V FLEX SL 4P MANUAL', 'Versa').strip())
df['modelo'] = df['modelo'].apply(lambda x: x.replace('FOX 1.0 8V (G2) 4P', 'Fox').strip())
df['modelo'] = df['modelo'].apply(lambda x: x.replace('LOGAN EXPRESSION SCE _4P_P', 'Logan Expression').strip())

In [ ]:
df = df[~df['modelo'].isin(['GOL MC4 _4P_',
                            'TORO RANCH 2.0 16V 4X4 DIESEL ATU.',
                            'TRACKER PREMIER 1.2 TURBO 12V FLEX AUT',
                            'MOBI LIKE 1.0 FLEX 4P',
                            'PALIO 1.0 ECONOMY FIRE FLEX 8V 4P',                            
                            'CR-V LX 2.0 AUT',
                            'SIENA ESSENCE 1.6 16V FLEX MEC.',
                            'COROLLA CROSS XRE 2.0',
                            'LIVINA XGEAR 1.8 AUT',
                            'HR-V EX 1.8 FLEXONE 16V 5P AUT',
                            'DUSTER 1.6 EXPRESSION',
                            'ECOSPORT TIT AT 2.0',
                            'FUSION 2.0 TITANIUM AWD 16V GASOLINA 4P AUTOMÁTICO',
                            'SENTRA SV 2.0 FLEX 16V AUT.',
                            'CRETA 1.6 16V FLEX ATTITUDE AUT',
                            'GRAND SIENA 1.0 EVO FLEX ATTRACTIVE MANUAL',
                            'WRANGLER SPT 3.6L',
                            'XE 2.0 TURBOCHARGED PURE 240CV AUT',
                            'ONIX 1.4MT LTZ',
                            'TIIDA 1.8 SL',
                            'VERSA 1.6 16V FLEX SL 4P MANUAL',
                            'FOX 1.0 8V (G2) 4P',
                            'LOGAN EXPRESSION SCE _4P_',
                            
                           ])]

In [5]:
DELETE FROM carros
WHERE motor IN ('citroen', 'palio', 'renault', 'TRACKER PREMIER 1.2 TURBO 12V FLEX AUT', 'MOBI LIKE 1.0 FLEX 4P',
                'PALIO 1.0 ECONOMY FIRE FLEX 8V 4P')

SyntaxError: invalid syntax (271692556.py, line 1)